.soundboard {
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #393939;
  color: white;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.display {
  width: 70%;
  text-align: center;
  color: #102107;
  margin: 0 auto;
  font-family: 'Orbitron', sans-serif;
}

@media only screen and (max-width: 767px) {
  .top {
    font-size: 12px;
  }
}
